{% extends 'main/base.html' %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquid autem blanditiis cupiditate distinctio
    doloribus eum eveniet maiores molestiae pariatur perspiciatis ratione totam? Ad eaque eligendi eum harum molestiae
    repellat soluta tempora, veniam! Alias blanditiis deleniti dolor enim ex explicabo id inventore necessitatibus rerum
    similique? Aliquam dignissimos fugit nostrum odit officiis pariatur quisquam sint sunt. Eius et labore minus
    molestias nemo quos, similique? Incidunt, labore porro? Ab ad aliquid atque culpa deleniti doloribus eius est
    eveniet ex hic id ipsum iste laborum maxime minima nemo nulla odio odit officia optio quas quasi ratione rerum saepe
    sed sequi suscipit velit, voluptate.</p>
{% endblock %}